################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


/RobinhoodApi/RbLibrary/obj
/RobinhoodApi/RbLibrary/bin
/RobinhoodApi/RbConsoleApp/obj
/.vs
/RobinhoodApi/RbConsoleApp/bin
